
<h1>Yummy Burger List</h1>
<h3>Which Burger Would You like to Eat?</h3>

<ul class="list-group">
  {{#each burgerlist}}
   	<li class="list-group-item">
      <p>
        {{this.id}}. {{this.burger_name}}

        <form action="/{{this.id}}?_method=DELETE" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
          <button type="submit">Devour Burger!</button>
        </form>
      </p>
    </li>
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form method="POST" action="/" class="button-size">
	<textarea type="text" name="movie"></textarea>
	<button type="submit">Add a Burger!</button>
</form>

<h2>Update Burger</h2>
<form action="/?_method=PUT" method="POST" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="movie" placeholder="movie"></textarea>
	<button type="submit">Update Burger!</button>
</form>